{% extends 'base.html' %}


{% block insert %}
    <div class="container-fluid">
    <div class="jumbotron text-center"><h2>All Leave Entries </h2></div>
    </div>
        <table class="table ">
    <tr>
<th>
   Name
</th>

<th>
Contact Number
</th>


<th>
    Room Number
 </th>

<th>
    From Date
 </th>


<th>
    To Date
 </th>

        <th>Approval Status</th>

        <th>Remarks</th>
    </tr>


   {% for entry in all_entries %}

    <tr {% if entry.approved == True %}class="bg-success"
    {% endif %}
    {% if entry.approved == False and entry.rejected == False %}class="bg-warning"
    {% endif %}
    {% if entry.rejected == True %}class="bg-danger"
    {% endif %}
    >
        <td>
           {{ entry.name }}
        </td>

        <td>
           {{ entry.contact_no }}
        </td>

        <td>
           {{ entry.room_no}}
        </td>

        <td>
           {{ entry.from_date}}
        </td>

        <td>
           {{ entry.to_date }}
        </td>

        <td class="text-center">
            {% if entry.approved == True %}
                <p class="btn btn-success" > <span class="glyphicon glyphicon-ok"></span></p>
            {% endif %}

            {% if entry.rejected == True   %}
                <p class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></p>
            {% endif %}

            {% if entry.rejected == False and entry.approved == False %}
                <p class="btn btn-warning"> <span class="glyphicon glyphicon-hourglass"></span></p>
            {% endif %}
        </td>

        <td>
            {% if entry.remarks == "None" and entry.approved == False %}
                <p style="color: #003366;"> No remarks yet!</p>
            {% endif %}
            {%if entry.remarks == "None" and entry.approved == True %}
            <p style="color: #114422;">No remarks</p>
            {% endif %}
        {% if entry.remarks != "None" %}
            {{ entry.remarks }}
        {% endif %}
        </td>

           </tr>
    {% endfor %}

</table>

{% endblock %}