{% extends 'base.html' %}


{% block insert %}
    <div class="container-fluid"><div class="well well-sm text-center"><h2>All Leave Entries </h2></div></div>
    <table class="table table-striped">
    <tr>
<th>
   Name
</th>

<th>
Contact Number
</th>


<th>
    Room Number
 </th>

<th>
    From Date
 </th>


<th>
    To Date
 </th>


<th>
    Purpose
 </th>
        <th>
            Approval Status
        </th>

        <th>
            Remarks
        </th>
    </tr>


   {% for entry in all_entries %}
    <tr>
        <td>
           {{ entry.name }}
        </td>

        <td>
           {{ entry.contact_no }}
        </td>

        <td>
           {{ entry.room_no}}
        </td>

        <td>
           {{ entry.from_date}}
        </td>

        <td>
           {{ entry.to_date }}
        </td>

        <td>
           {{ entry.purpose}}
        </td>


        <td>
            {% if entry.remarks == 'None'%}
                <form method="post" action="{% url 'att:remarks' entry.pk %}">
                {% csrf_token %}

                <input type="text" name="remarks">
                    <button class="btn btn-primary" type="submit">Write</button>
                </form>
            {% endif %}
        {% if entry.remarks != 'None' %}
        {{ entry.remarks }}
        {% endif %}
        </td>

        <td>
            {% if entry.approved == True%}
                <button class="btn btn-info" type="button">Approved <span class="glyphicon glyphicon-ok"></span></button>
            {% endif %}

             {% if entry.approved == False and entry.rejected == False%}

               <a href="{% url 'att:approveit' entry.pk %}"><button class="btn btn-success" type="submit" >Approve Now <span class="glyphicon glyphicon-thumbs-up"></span></button></a>
             <a href="{% url 'att:rejectit' entry.pk %}"><button class="btn btn-danger" type="submit">Reject <span class="glyphicon glyphicon-thumbs-down"></span></button></a>
             {% endif %}

        {% if entry.rejected == True%}
            <div style="color:black"><b>Rejected</b></div>
        {% endif %}
        </td>


   </tr>
    {% endfor %}

</table>

<div class="text-center" style="margin-bottom: 10px;">
<button class="btn btn-info" onclick="window.print();">Print</button>
<a class="btn btn-warning" href="{%url 'att:log_out' %}" style="color:white;">Logout</a>
</div>

    {% if approvance == True %}

        <div class="alert alert-success" style="margin-top: 10px; "><strong>Success!</strong> {{ sheet }} {{ success_message }}</div>
    {% endif %}
    {% if rejected == True %}

        <div class="alert alert-danger" style="margin-top: 10px; "><strong>Rejected!</strong> {{ sheet }} {{ success_message }}</div>
    {% endif %}
{% endblock %}