<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HKS Leave Register</title>
    <!-- Latest compiled and minified CSS -->

 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet"> 
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'att:index' %}">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'att:att' %}">Leave Form</a></li>
      <li><a href="{% url 'att:attview' %}">List of entries</a></li>
      <li><a href="{% url 'att:auth_login' %}">Warden Comitte Login</a></li>

    </ul>
  </div>
</nav>
<div class="container-fluid text-center " style="background-color:#e74c3c; margin-top: -20px; height: 500px;">
    <a href="{% url 'att:att' %}" style="text-decoration: none;" ><h1 style="color:#2c3e50;vertical-align: middle; font-family: 'Baloo Tammudu', cursive;font-size: 4em; line-height: 500px;">HKS Leave Register <span class="glyphicon glyphicon-book"></span></h1></a>

</div>
    <div class="container-fluid text-center " style="background-color:#f1c40f;height: 500px; ">
        <a href="{% url 'att:attview' %}" style="text-decoration: none;"><h1 style="color:#2c3e50;vertical-align:middle;font-family: 'Baloo Tammudu', cursive;font-size: 4em;line-height: 500px;">List of entries <span class="glyphicon glyphicon-list-alt"></span></h1></a>

</div>

<div class="container-fluid text-center " style="background-color:#27ae60;height: 500px; ">
        <a href="{% url 'att:auth_login' %}" style="text-decoration: none;" ><h1 style="color:#2c3e50;vertical-align:middle;font-family: 'Baloo Tammudu', cursive;font-size: 4em;line-height: 500px;">Warden Comittee Login <span class="glyphicon glyphicon-user"></span></h1></a>

</div>

<div class="container-fluid text-center " style="background-color:#95a5a6;height: 200px; ">
        <h1 style="color:black;vertical-align:middle;">Copyrights &copy
        <div><h6>Reserved <span class="glyphicon glyphicon-sunglasses"></span></h6></div></h1>
      

</div>

</div>
</body>
</html>

